.homes {
  padding: 40px;
  background-color: #f9f9f9;
}

.home {
  text-align: center;
  margin-bottom: 30px;
  line-height: 40px;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 400px;
  height: 380px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-bottom: 10px;
}

.card-img {
  width: 94%;
  height: 50%;
  object-fit: fill;
  margin-top: 10px;
  border-radius: 16px;
}

.badges {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 5px;
}

.badge {
  background-color: #1F4B43;
  width: 90px;
  height: 35px;
  color: white;
  font-size: 12px;
  padding: 0px 10px;
  border-radius: 40px;
  font-weight: bold;
  
}

.badge.featured {
  background-color: #E7C873;
  color: #1A1A1A;
}

.description {
  padding: 0 15px;
  display: flex;
  text-align: start;
}

.property h4 {
  font-size: 18px;
  text-align: start;

}

.location {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #666;
  font-size: 14px;
}

.price {
  position: relative;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  color: #EB664E;
  justify-content: flex-end;
  margin-top: 50px;
}

.price span {
  font-size: 14px;
}

.details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15px;
  border-radius: 0 0 10px 10px;
  position: absolute; /* Ensure it stays inside the card */
  bottom: 0;
  width: 100%;
}

.attribute {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #333;
}
.vector {
  width: 16px;
  height: 16px;
  /* margin-right: 5px;
  margin-top: -20px; */
}